<div class="carousel-inner">
li #{date}
    //- <!-- <% da.forEach((item, i) => {  %> -->
    //-     <h1>date</h1>
    //-     #{date}
    //- <div class="item">
    //-     <!-- <img src="<%= img.url%>" class="d-block w-100" alt=""> -->
    //-     <h4>date: <%= date%></h4>
    //-     <!-- <h4>Item Price: <%= item.price%></h4> -->
    //- </div>
    //- <% }) %>

</div>